@charset "utf-8";

/* 
	#xxx is for id="xxx"
	.yyy is for class="yyy"
	
*/	



.pageheader {
	display:none;
}
.pageheadermobile {
	display:inline;
	font-style:bold;
	font-size:125%;
	color:#900802;
}

.banner {
	/* border: 1px solid #900802; */
	padding-bottom: 10px;
	padding-left: 5px;
}


body {
	font-size: 18px;
	padding: 1px;
}

.container {
	width: auto;
	margin: 0px auto; 
	/* border: 1px solid #ff00ff;   */
}

.onecolumnleft {
	padding: 0px 5px 0px 5px;
}

.navigation {
	padding: 0px 5px 0px 5px;
}



img.soloistpic {
	width:  80px;
	/* height: 100px; */
}

.soloistspic {
	padding: 1px 2px 1px 1px;
}

.soloistsname {
	padding: 1px 2px 1px 1px;
}

.sidebarleft {
	/* background-color:#3f1295; */
	width:			140px; 
	/* margin:			2px 2px 2px 2px; */
	padding:		2px 10px 0px 5px;
	float:			left;
	/* border: 1px solid #ff00ff;   */

}

.sidebarremainder {
	text-align:		left;
	/* margin:			2px 2px 2px 2px; */
	padding: 		2px 2px 2px 2px;
	/* border: 1px solid #ff0000;  */
}


img.sidebarpic {
	width:  130px;
	/* height: 153px; */
}


.faqq {
	font-size: 75%;
	width: 33%;
	padding: 3px 8px 3px 3px;
}

.faqa {
	font-size: 75%;
	width: 67%;
	padding: 3px 3px 3px 3px;
}
